# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../:\Users\secur\OneDrive\Documents\GTD\Проекты\3. Завершенные проекты\Поиск работы\Собеседование\Java intrview 22\Tech interview\Архив интервью\DefaultInterview\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
